<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/css/authorization.css">
    <link rel="shortcut icon" href="/images/logo.jpg">
</head>
<body>
<div class="container">
    <div class="login-box">
        <h2>Авторизация</h2>
        <form id="form" action="http://localhost:8888/api/v1/web/index">
            <div class="input-group">
                <label for="email">Почта</label>
                <input type="email" id="email" required>
            </div>
            <div class="input-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" maxlength="8" required>
            </div>
            <div class="input-group">
                <label for="code">Код франчайзи</label>
                <input type="text" id="code" required>
            </div>
            <button type="submit">Войти</button>
            <div class="link-container">
                <a href="registration" class="link">Нет аккаунта?</a>
            </div>
        </form>
    </div>
</div>
<script src="/js/authorization.js"></script>
</body>
</html>